img{
	max-width: 100%;
}
@media screen and (max-width: 1000px){
	[data-speed]{
		transform: translate(0) !important;
	}
}
/***********************/
/* Infos
/***********************/
.infoContent {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #FAFAFA;
	font-size: 18px;
	z-index: 109;
	padding: 20px;
}
.infoContent>.fermer{
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: linear-gradient(150deg, purple, blue);
	border-radius: 100%;
	width: 60px;
	height: 60px;
}
.infoContent>.fermer>div{
	height: 6px;
	width: 40px;
	background: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	border-radius: 3px;
	transform: translate(-50%, -50%) rotate(45deg);
}
.infoContent>.fermer>div:nth-child(1){
	transform: translate(-50%, -50%) rotate(-45deg);
}
.infoContent>div {
	background: #FFF;
}

.infoContent h2 {
	font-size: 28px;
	background: linear-gradient(90deg, pink, #FFF);
	margin: 0;
	padding: 20px;
}

.infoContent>div>div {
	margin: 20px;
}

.infoContent>div:not(:last-child) a {
	margin: 10px auto 10px auto;
	padding: 25px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background: linear-gradient(150deg, purple, rgb(104, 104, 255));
	border-radius: 150px;
	display: table;
}

.infoContent>div:nth-child(4) {
	background-image: url(../img/PlanMMI.svg);
	background-position: 50% 100%;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 90vw;
}

.openInfo {
	overflow: hidden;
	margin-right: 5px;
}

.openInfo .infoContent {
	display: block;
	clip-path: circle(100%);
}

/***********************/
/* La formation */
/**********************/
#formation {
	font-size: 26px;
	padding: 20px 10px 10px 10px;
	background: radial-gradient(circle at 40px -40px, #FFF 60px, rgba(255, 255, 255, 0.4) 600px, rgba(0, 0, 0, 0) 600px), radial-gradient(circle at 50% 0%, rgba(0, 0, 0, 0) 200px, rgba(255, 255, 255, 0.4) 200px, rgba(255, 255, 255, 0.4) 220px, rgba(0, 0, 0, 0)), linear-gradient(#0000FF 0%, #FFF 25%);
}
#formation .boule{
	display: none;
}

.depart>span {
	color: blue;
}
.gris{
	filter: grayscale(1);
}
.quinconce {
	text-align: center;
}
.quinconce>a {
	text-decoration: none;
	color: #424242;
	display: block;
	margin: 10px;
	padding: 20px;
	border: 1px solid #BBB;
	box-shadow: 0 0 0px #BBB;
}

.vignette {
	padding: 10px;
	margin: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.vignette>.flex>* {
	margin: 10px;
}

.centrer {
	text-align: center;
}

.big {
	font-size: 48px;
}

/****************/
/* Section travail */
/****************/

#travail {
	background: rgb(45, 196, 27);
	padding: 10px;
	color: #FFF;
}
#travail p{
	font-size: 18px;
}

/****************/

/* Section enseignement */

/****************/
/*
#enseignement {
	padding: 30px 10px;
}
#enseignement span{
	display: block;
}
#enseignement>p{
	margin: 0;
}
.small{
	font-size: 12px;
	
}
*/
#enseignement{
	max-width: 1000px;
	margin: auto;
	font-size: 20px;
}
#enseignement>div{
	box-shadow: 0 3px 3px #AAA;
	padding: 20px;
	border-radius: 20px;
	border: 1px solid #CCC;
	margin: 5px;
	overflow: hidden;
	position: relative;
	transition: 0.4s;
}
#enseignement h3{
	margin-top: 0;
}
#enseignement ul{
	position: absolute;
	opacity: 0;
	padding: 0;
}
#enseignement li{
	transition: 0.4s;
	opacity: 0;
	transform: translateX(-50px);
	list-style-type: none;
}
#enseignement button{
	border: none;
	background: linear-gradient(45deg, purple, blue);
	cursor: pointer;
	color:#FFF;
	padding: 10px;
	border-radius: 10px;
}
#enseignement li button{
	background: #FFF;
	color: #000;
}
@media screen and (min-width: 1100px){
	#enseignement .ouvrir{
		transform: translateX(-50px);
	}
}
#enseignement .ouvrir ul{
	position: static;
	opacity: 1;
}
#enseignement .ouvrir li{
	opacity: 1;
	transform: translateX(0);
}
#enseignement li>div{
	display: flex;
	justify-content: space-between;
	background: linear-gradient(45deg, purple, blue);
	color: #FFF;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 5px;
}
#enseignement li p{
	margin-left: 20px;
	display: none;
}
#enseignement .ouvrir li:nth-child(1){transition-delay: 0.1s}
#enseignement .ouvrir li:nth-child(2){transition-delay: 0.2s}
#enseignement .ouvrir li:nth-child(3){transition-delay: 0.3s}
#enseignement .ouvrir li:nth-child(4){transition-delay: 0.4s}
#enseignement .ouvrir li:nth-child(5){transition-delay: 0.5s}
#enseignement .ouvrir li:nth-child(6){transition-delay: 0.6s}

#enseignement .deco{
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-radius: 20px;
	box-sizing: border-box;
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}
#enseignement .ouvrir .deco{
	animation: ouverture 2s forwards;
}
@keyframes ouverture{
	 0%{clip-path: polygon(0 0, 20px 0, 20px 0, 20px 0, 0 0)}
	25%{clip-path: polygon(0 0, 20px 0, 20px 100%, 20px 100%, 0 100%)}
	50%{clip-path: polygon(0 0, 20px 0, 100% 100%, 100% 100%, 0 100%)}
	75%{clip-path: polygon(0 0, 20px 0, 100% 0, 100% 100%, 0 100%)}
	100%{clip-path: polygon(0 0, 20px 0, 100% 0, 100% 100%, 0 100%)}

}

#enseignement li.ouvrir p{
	display: block;
}