img{
	max-width: 100%;
}
.svgLines {
	display: none;
}
/***********************/
/* Infos
/***********************/
.infoContent {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #FAFAFA;
	font-size: 18px;
	z-index: 109;
	pointer-events: none;
	clip-path: circle(0px at 65% 65%);

	padding: 20px;
}
.infoContent>.fermer{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: linear-gradient(150deg, purple, blue);
	border-radius: 100%;
	width: 60px;
	height: 60px;
}
.infoContent>.fermer>div{
	height: 6px;
	width: 40px;
	background: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	border-radius: 3px;
	transform: translate(-50%, -50%) rotate(45deg);
}
.infoContent>.fermer>div:nth-child(1){
	transform: translate(-50%, -50%) rotate(-45deg);
}
.infoContent>div {
	background: #FFF;
}

.infoContent h2 {
	font-size: 28px;
	background: linear-gradient(90deg, pink, #FFF);
	margin: 0;
	padding: 20px;
}

.infoContent>div>div {
	margin: 20px;
}

.infoContent>div:not(:last-child) a {
	margin: 10px auto 10px auto;
	padding: 25px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background: linear-gradient(150deg, purple, rgb(104, 104, 255));
	border-radius: 150px;
	display: table;
}

.infoContent>div:last-child {
	margin-left: 80px;
}

.infoContent>div:nth-child(3) {
	background-image: url(../img/PlanMMI.svg);
	background-position: 50% 100%;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 90vw;
}

.openInfo {
	overflow: hidden;
	margin-right: 5px;
}

.openInfo .infoContent {
	pointer-events: initial;
	clip-path: circle(100%);
}

/***********************/
/* La formation */
/**********************/
#formation {
	font-size: 26px;
	padding: 20px 10px 10px 10px;
	background: radial-gradient(circle at 40px -40px, #FFF 60px, rgba(255, 255, 255, 0.4) 600px, rgba(0, 0, 0, 0) 600px), radial-gradient(circle at 50% 0%, rgba(0, 0, 0, 0) 200px, rgba(255, 255, 255, 0.4) 200px, rgba(255, 255, 255, 0.4) 220px, rgba(0, 0, 0, 0)), linear-gradient(#0000FF 0%, #FFF 25%);
}
#formation .boule{
	display: none;
}

.depart>span {
	color: blue;
}
.quinconce {
	text-align: center;
}
.quinconce>div {
	cursor: pointer;
	margin: 10px;
	padding: 20px;
	border: 1px solid #BBB;
	box-shadow: 0 0 0px #BBB;
}

.vignette {
	padding: 10px;
	margin: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.vignette>.flex>* {
	margin: 10px;
}

.centrer {
	text-align: center;
}

.big {
	font-size: 62px;
}

/****************/
/* Section travail */
/****************/

.travail {
	background: rgb(45, 196, 27);
	padding: 10px;
	color: #FFF;
}
.travail p{
	font-size: 18px;
}

/****************/

/* Section enseignement */

/****************/

.enseignement {
	padding: 10px;
}
.enseignement span{
	display: block;
}