.svgLines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 100;
	display: initial;
}

.solidLine {
	stroke: #3b3131;
	stroke-width: 5;
}

.curve, .line {
	fill: none;
	stroke: #3b3131;
	stroke-linecap: round;
}

.line {
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	stroke-width: 5;
	transition: stroke-dashoffset 1.2s;
}

.curve {
	stroke-dasharray: 0 100 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5;
	stroke-width: 10;
	stroke-dashoffset: 1;
}

.line.growLine {
	stroke-dashoffset: 0;
}

.svgAppear path{
	animation: pathAnim 2s;
	stroke-dasharray: 100;
	stroke-dashoffset: 0;
	stroke: rgba(0,0,0,0);	
}
[data-class="svgAppear"] path{
	fill: none;
	stroke: none;
}
@keyframes pathAnim{
	0%{
		fill: rgba(0,0,0,0);
		stroke: #3b3131;
		stroke-dashoffset: -100;
	}
	60%{
		fill: rgba(0,0,0,0);
	}
	80%{
		stroke: #3b3131;
		stroke-dashoffset: 0;
	}
}
[data-class="appear"]{
	opacity: 0;
}
.appear{
	animation: appear 0.8s;
}
@keyframes appear{
	0%{
		transform: translateX(-50%);
		opacity: 0;
	}
}
/***********************/
/* Infos
/***********************/
.infoContent {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: auto auto auto 1fr;
	grid-auto-flow: dense;
	grid-gap: 20px;
	transition: clip-path 0.6s;
}

.infoContent>div:nth-child(3) {
	grid-row: 1/span 4;
	grid-column: 2/span 1;
	padding-bottom: 0;
}

.infoContent>div {
	border: 1px solid #AAA;
}

.infoContent>div:not(:last-child) a {
	margin: 10px auto 10px auto;
	padding: 25px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background: linear-gradient(150deg, purple, rgb(104, 104, 255));
	border-radius: 150px;
	display: inline-block;
}

.infoContent>div:last-child {
	margin-left: 80px;
}


.openInfo {
	overflow: hidden;
	margin-right: 5px;
}

.openInfo .infoContent {
	pointer-events: initial;
	clip-path: circle(100%);
}

/***********************/
/* La formation */
/**********************/
#formation .boule{
	display: initial;
}

#formation{
	padding: 160px 0 0 0;
	font-size: 36px;
}

.depart {
	margin: 60px;
	width: 60%;
}

.quinconce {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-size: 28px;
}

.quinconce>div {
	flex: 1;
	margin: 100px 3% 100px 3%;
	padding: 20px;
	animation: pioupiou 0.4s alternate infinite;
	transition: background 0.2s;
}

.quinconce>div:hover {
	background: rgba(0, 0, 255, 0.1);
}

@keyframes pioupiou {
	0% {
		box-shadow: 0 0 6px #BBB;
	}
}

.quinconce>div:nth-child(odd) {
	margin-top: 200px;
}

.quinconce img {
	width: 100%;
}

.barre {
	height: 10px;
	flex: 1;
	background: #3b3131;
	border-radius: 5px;
	margin: 5px
}

.point {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	margin: auto;
	border: 1px solid #AAA;
}

.center {
	width: 60%;
	margin: auto;
}
.vignette {
	padding: 60px;
	margin: 200px 60px;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
}

.vignette>.flex>* {
	margin: 30px;
}

/****************/

/* Section travail */

/****************/

.travail {
	padding: 60px;
}

.travail>h2 {
	margin-top: 0;
}

.travail h3 {
	font-weight: normal;
	font-size: 54px;
	margin: 0;
}

.travail p {
	margin: 0;
	font-size: 36px;
}

.travail>div {
	display: flex;
	align-items: flex-start;
	margin-top: 40px;
}

.travail>div:nth-child(odd) {
	flex-direction: row-reverse;
}

.travail>div>* {
	margin: 2%;
	flex: 6;
}
.travail>div>img {
	flex: 4;
}

/****************/

/* Section enseignement */

/****************/

.enseignement {
	padding: 60px;
}
.enseignement span{
	display: inline;
}